<div class="container nopadding" id="footer-content">

$S_SYSTEM_VIEW_INTERNAL
<div class="nav-accordion clearfix">
<h2 class="footer-nav-more text-gray bold col-sm-12">More Upstate Information</h2>
<div class="col-sm-3 marginbottom9">
<div class="footer-links-header">Upstate Medical University</div>
<a class="footer" href="http://www.upstate.edu/about/leadership.php">Upstate Leadership</a><br /> <a class="footer" href="http://www.upstate.edu/about/mission.php">Mission, Vision, Values</a><br /> <a class="footer" href="http://www.upstate.edu/com/">College of Medicine</a><br /> <a class="footer" href="http://www.upstate.edu/con/">College of Nursing</a><br /> <a class="footer" href="http://www.upstate.edu/chp/">College of Health Professions</a><br /> <a class="footer" href="http://www.upstate.edu/grad/">College of Graduate Studies</a><br /> <a class="footer" href="http://library.upstate.edu/">Health Sciences Library</a><br /> <a class="footer" href="http://www.upstate.edu/education/friends.php">Alumni &amp; Friends</a><br /> <a class="footer" href="http://www.upstate.edu/about/visitors/index.php">Visitor's Guide</a></div>
<div class="col-sm-3 marginbottom9">
<div class="footer-links-header">Patient Care</div>
<a class="footer" href="http://www.upstate.edu/hospital/">Upstate University Hospital</a><br /> <a class="footer" href="http://www.upstate.edu/gch/">Upstate Golisano Children's Hospital</a><br /> <a class="footer" href="http://www.upstate.edu/community/">Upstate University Hospital at Community</a><br /> <a class="footer" href="http://www.upstate.edu/cancer/">Upstate Cancer Center</a><br /> <a class="footer" href="http://www.upstate.edu/whn/">Women's Health</a><br /> <a class="footer" href="http://www.upstate.edu/hospital/providers/">Find a Doctor</a><br /> <a class="footer" href="http://www.upstate.edu/hospital/patients/mychart.php">MyChart</a></div>
<div class="col-sm-3 marginbottom9">
<div class="footer-links-header">More Links</div>
<a class="footer" href="http://www.upstate.edu/news/">Upstate News</a><br /> <a class="footer" href="http://www.upstate.edu/about/">About Upstate</a><br /> <a class="footer" href="http://www.upstate.edu/directions/">Maps &amp; Directions</a><br /> <a class="footer" href="http://www.upstate.edu/webcal/main.php">Upstate Calendars</a><br /> <a class="footer" href="http://www.upstate.edu/search/index.php?tab=people">Search Upstate</a><br /> <a class="footer" href="http://www.upstate.edu/hr/jobs/">Jobs</a><br /> <a class="footer" href="http://www.upstate.edu/volunteers/">Volunteer</a><br /> <a class="footer" href="http://www.foundationforupstate.org/">Give to Upstate</a><br /> <a class="footer" href="http://www.upstate.edu/about/contact.php">Contact</a><br /> <a class="footer" href="http://libproxy.upstate.edu/login?url=http://www.upstate.edu/ipage/intra/">iPage</a></div>
<div class="col-sm-3 marginbottom9">
<div class="footer-links-header">Social Media</div>
<div class="padbottom9"><a class="footer" href="http://www.upstate.edu/publicaffairs/socialmedia.php">Upstate Social Media</a></div>
<div class="clearfix">
<div class="leftobject width65px"><a href="https://www.facebook.com/UpstateMedicalUniversity"><img alt="Upstate on Facebook" class="img-responsive" src="http://www.upstate.edu/assets/images/facebook-rwd.gif" height="64" width="64" /></a></div>
<div class="leftobject width65px"><a href="https://twitter.com/UpstateNews"><img alt="Upstate on Twitter" class="img-responsive" src="http://www.upstate.edu/assets/images/twitter-rwd.gif" height="64" width="64" /></a></div>
</div>
<div class="padbottom9 padtop9 clearfix clr">
<div class="leftobject width65px"><a href="https://www.youtube.com/user/UpstateMedicalUniv"><img alt="Upstate on Youtube" class="img-responsive" src="http://www.upstate.edu/assets/images/youtube-rwd.gif" height="64" width="64" /></a></div>
<div class="leftobject width65px"><a href="https://whatsupatupstate.wordpress.com/"><img alt="What's up at Upstate" class="img-responsive" src="http://www.upstate.edu/assets/images/wordpress-rwd.gif" height="64" width="64" /></a></div>
</div>
</div>
<div class="clr"></div>
<hr class="width100 thin text_lightgray bg_lightgray" />
</div>
$E_SYSTEM_VIEW_INTERNAL$S_SYSTEM_VIEW_EXTERNAL
$S_PHP_PASSTHROUGH
createDefaultGlobalFooter( $localflag, $intraflag );
$E_PHP_PASSTHROUGH
$E_SYSTEM_VIEW_EXTERNAL
</div>