#chanwReviveGlobalVariable( "RenderGlobalNav" $design_namespace )

#if( $chanwReviveGlobalVariable )
<div class="col-sm-9"><nav id="global-menu">
<div id="mobile-handle"><img alt="Global Handle" src="/render/file.act?path=site://Upstate-Globals/assets/images/global.gif" /></div>
$S_SYSTEM_VIEW_INTERNAL<ul>
<li><a href="http://www.upstate.edu//">Upstate</a></li>
<li><a href="http://www.upstate.edu/healthcare/">Patient Care</a></li>
<li><a href="http://www.upstate.edu/education/">Academics</a></li>
<li><a href="http://www.upstate.edu/research/">Research</a></li>
<li><a href="http://www.upstate.edu/hospital/providers/">Find a Doctor</a></li>
<li><a href="http://library.upstate.edu/">Library</a></li>
<li><a href="http://www.upstate.edu/directions/">Locations</a></li>
<li><a href="http://www.upstate.edu/hr/">Jobs</a></li>
<li><a href="http://libproxy.upstate.edu/login?url=http://www.upstate.edu/ipage/intra/">iPage</a></li>
</ul>
$E_SYSTEM_VIEW_INTERNAL$S_SYSTEM_VIEW_EXTERNAL$S_PHP_PASSTHROUGH
createHealthcareGlobalMenu( $localflag, $intraflag );$E_PHP_PASSTHROUGH$E_SYSTEM_VIEW_EXTERNAL</nav></div>
#end