$S_SYSTEM_VIEW_INTERNAL
<div id="privacy-policy">
	<a href="http://www.upstate.edu/privacy.php">Privacy Policy</a> |
	<a href="http://www.upstate.edu/hospital/patients/admitting/privacypractices.php">Notice of Privacy Practices</a> |
	<a href="http://www.upstate.edu/emergencyinfo/">Emergency Information</a> |
	<a href="http://www.upstate.edu/foil/">Freedom of Information</a> |
	<a href="https://get.adobe.com/reader/">Acrobat Reader</a> |
	<a href="http://www.upstate.edu/healthcare/nondiscrimination.php">Non-discrimination Statement</a>
</div>
$E_SYSTEM_VIEW_INTERNAL