#*
《code》
《copyright》
Authors: Wing Ming Chan
Copyright (c) 2017 Wing Ming Chan <chanw@upstate.edu>
MIT Licensed
Modification history:
6/9/2017 Removed nopadding from containers.
5/13/2017 Added parameters and logic to allow for generation of external file.
《/copyright》
《documentation id=“top”》
《h2》Introduction《/h2》
《p》The format defines a single macro used to generate site nav.《/p》
《/documentation》
《documentation》
《code》#createSiteNav(  $ext $hrefSiteName $baseFolderSiteName  )《/code》
《p》The macro generates the internal view, external view, and page contents of
a site nav.《/p》
《pre》
#createSiteNav( false )                     ## not using external site nav
#createSiteNav( true $currentPageSiteName ) ## external view with PHP code
#createSiteNav( true 'hr' 'hrintra' )
《/pre》
《/documentation》
《macro id=“createSiteNav”》
*#
#macro( createSiteNav $ext $hrefSiteName $baseFolderSiteName )
    ## the first part deals with sites like hr and hrintra
    ## where hrintra is published to hr/intra
    ## the $hrefSiteName can be 'hr', a site name to be added to the href
    ## the $baseFolderSiteName can be 'hrintra', the name used by the locator tool
    #if( !$hrefSiteName || $hrefSiteName.Class.Name != $JAVA_LANG_STRING_CLASS_NAME && $hrefSiteName == "" )
        #set( $upstateHrefSiteName = $currentPageSiteName )
    #else
        #set( $upstateHrefSiteName = $hrefSiteName )
    #end

    #if( !$baseFolderSiteName || $baseFolderSiteName.Class.Name != $JAVA_LANG_STRING_CLASS_NAME && $baseFolderSiteName == "" )
        #set( $upstateBaseFolderSiteName = $currentPageSiteName )
    #else
        #set( $upstateBaseFolderSiteName = $baseFolderSiteName )
    #end

<div id="site-menu-bar-div">
<div class="container" id="site-menu-div">
<nav id="site-menu">
## this is the base folder of the site
#set( $base_folder = $_.locateFolder( "/", $upstateBaseFolderSiteName ) )
#set( $children = $base_folder.Children )

## the logic here assumes that all indexable assets are ordered before
## non-indexable asset; hence we can stop when the first non-indexable
## asset is encountered
## alternative: process all assets, and do nothing for non-indexable assets
## it is also assumed that all assets have display names
<ul>
#foreach( $child in $children )##
    #if( !$child.ShouldBeIndexed && $child.Identifier.Type != "symlink" )##
        ##break##
    #elseif( $child.Identifier.Type == "folder" )
        #chanwGetMetadataData( $child.Metadata )
        
        #if( !$chanwGetMetadataData.get( "DynamicFieldsData" ).get( "exclude-from-menu" ).get( "Value" ) ) ## not defined
            #set( $folderDisplayName = $_EscapeTool.xml( $child.Metadata.DisplayName ) )
            #set( $indexLink         = "" )

            #chanwIsAncestorOf( $child $currentPage )
        
            #if( $chanwIsAncestorOf )  ## for highlighting
                #set( $li_class = ' class="currentMenuItem"' )
            #else
                #set( $li_class = '' )
            #end

            #set( $li_id_class = " id='${child.Name}' class=''" )

            #if( $ext )
<li${li_id_class}><a href="site://${upstateHrefSiteName}${child.link}/index.php">$folderDisplayName</a>
            #else
<li${li_class}><a href="${child.link}/index">$folderDisplayName</a>
            #end

            #set( $grandchildren = $child.Children )
<ul>
            #foreach( $grandchild in $grandchildren )
                #if( !$grandchild.ShouldBeIndexed && $grandchild.Identifier.Type != "symlink" )
                    #break
                #elseif( $grandchild.Name == "index" )
                    ## do nothing
                #elseif( $grandchild.Identifier.Type == "folder" )
                    #if( $ext )
<li><a href="site://${upstateHrefSiteName}${grandchild.Link}/index.php">$_EscapeTool.xml( $grandchild.Metadata.DisplayName )</a></li>
                    #else
<li><a href="${grandchild.Link}/index">$_EscapeTool.xml( $grandchild.Metadata.DisplayName )</a></li>
                    #end
                #elseif( $grandchild.Identifier.Type == "page" )
                    #if( $ext )
<li><a href="site://${upstateHrefSiteName}${grandchild.Link}.php">$_EscapeTool.xml( $grandchild.Metadata.DisplayName )</a></li>
                    #else
<li><a href="${grandchild.Link}">$_EscapeTool.xml( $grandchild.Metadata.DisplayName )</a></li>
                    #end
                #else ## symlinks
<li><a href="${grandchild.Link}">$_EscapeTool.xml( $grandchild.Metadata.DisplayName )</a></li>
                #end
            #end
</ul></li>
        #end
        
        #if( $children[ $foreach.count ].ShouldBeIndexed || $children[ $foreach.count ].Identifier.Type == "symlink" )
<li class="separator"><div></div></li>        
        #end
    #elseif( $child.Name == "index" )
        #chanwReviveGlobalVariable( "RenderHomeInSiteNav" $design_namespace )

        #if( $chanwReviveGlobalVariable )
            #chanwReviveGlobalVariable( "HomeLinkTextInSiteNav" $design_namespace )
            
            #if( $chanwReviveGlobalVariable != "" )
                #if( $ext )
<li><a href="site://${upstateHrefSiteName}${child.Link}.php">$chanwReviveGlobalVariable</a></li>
                #else
<li><a href="${child.Link}">$chanwReviveGlobalVariable</a></li>
                #end
<li class="separator"><div></div></li>
            #end
        #end
    #elseif( $child.Identifier.Type == "symlink" )
        #chanwGetMetadataData( $child.Metadata )
        
        #if( !$chanwGetMetadataData.get( "DynamicFieldsData" ).get( "exclude-from-menu" ).get( "Value" ) ) ## not defined
<li><a href="${child.Link}">$_EscapeTool.xml( $child.Metadata.DisplayName )</a></li>
        #end
        
        #if( ( $children[ $foreach.count ].ShouldBeIndexed && $children[ $foreach.count ].Identifier.Type == "folder" ) || 
            $children[ $foreach.count ].Identifier.Type == "symlink" )
            #chanwGetMetadataData( $children[ $foreach.count ].Metadata )
            
            #if( !$chanwGetMetadataData.get( "DynamicFieldsData" ).get( "exclude-from-menu" ).get( "Value" ) )## not defined
<li class="separator"><div></div></li>
            #end
        #end
    #end
#end
</ul>
</nav> 
</div>
</div>
#end
#*
《/macro》
《/code》
*#