#drulykgImportPassThrough( "${BRISK[ 'APP_PATH' ]}app-constants" )
##
#setHhConstants
## get page contents
#set( $pageElementMap = {} )
##
#set( $page = $_XPathTool.selectNodes( $contentRoot, "calling-page/system-page" )[ 0 ] )
#set( $pageSystemDataStructure = $_XPathTool.selectNodes( $page, "system-data-structure" )[ 0 ] )
##
## the design setup
#chanwImportScript( "${BRISK_APP[ 'SITE_DESIGNS_PATH_NTS' ]}/${design_namespace}" $BRISK[ 'APP_SITE_NAME' ] 'setup' )
#processSiteSetup
## the site setup
#chanwImportScript( "/" $currentPageSiteName 'setup' )
## the folder setup
#set( $folderSetupFormatExists = false )
#chanwLocateAssetInAncestorFolder(
    $currentPage.ParentFolder.Path $currentPageSiteName "format" $FOLDER_SETUP_FORMAT_NAME )
##
#if( $chanwLocateAssetInAncestorFolder != "" && $chanwLocateAssetInAncestorFolder.ParentFolder.Path != "/" )
    #set( $folderSetupFormatExists = true )
    #chanwImportScript( "${chanwLocateAssetInAncestorFolder.ParentFolder.Path}" $currentPageSiteName 'setup' )
#end
## the page setup: in hh_macros
##


## app custom macros
#chanwImportScript( "${BRISK_APP[ 'SITE_DESIGNS_PATH_NTS' ]}/${design_namespace}" $BRISK[ 'APP_SITE_NAME' ] "hh_macros" )
##
#set( $siteConfigMap[ 'treeName' ] = "left-center" )
#chanwImportScript( $HH_TREE_FOLDER_PATH $BRISK[ 'APP_SITE_NAME' ] "design-tree" )
#resolvePageTreeName
##<h1>$siteConfigMap[ 'treeName' ]</h1>

#if( $siteConfigMap[ 'treeName' ] != "inherited" )
    #set( $mainIndex = $chanwObjectNodeMap[ "body" ].getIndex( $chanwObjectNodeMap[ "main" ] ) )
    #set( $void = $chanwObjectNodeMap[ "body" ].remove( $chanwObjectNodeMap[ "main" ] ) )
    #chanwImportScript( $HH_TREE_FOLDER_PATH $BRISK[ 'APP_SITE_NAME' ] "hh-${siteConfigMap[ 'treeName' ]}-main-tree" )
    #set( $void = $chanwObjectNodeMap[ "body" ].insert( $chanwObjectNodeMap[ "main" ], $mainIndex ) )
#end

#chanwDisplayTreeNodeRecursively( $chanwObjectNodeMap[ "html" ] )
