#*doc
《documentationautoflow》
《step id=“innermainTreeEntryPoint”》
    《title》
        Create the root node for all fields of the data definition
    《/title》
    《content》
The tree is defined in a way dictated by the page data definition. 
Each group in the data definition is represented as a node here.
    《/content》
    《stepcode》
doc*###
##
#chanwCreateNode( { $TREE_NODE_NAME : "innermain" } )

#chanwAddChildren( $chanwObjectNodeMap[ "innermain" ] [
    { $TREE_NODE_NAME : "pre-h1-choosers",       $TREE_NODE_CODE : '#outputPageElement(''preH1'')' },
    { $TREE_NODE_NAME : "h1",                    $TREE_NODE_CODE : '#outputPageElement(''h1'')' },
    { $TREE_NODE_NAME : "post-h1-choosers",      $TREE_NODE_CODE : '#outputPageElement(''postH1'')' },
    { $TREE_NODE_NAME : "wysiwyg",               $TREE_NODE_CODE : '#outputPageElement(''wysiwyg'')' },
    { $TREE_NODE_NAME : "post-wysiwyg-choosers", $TREE_NODE_CODE : '#outputPageElement(''postWysiwyg'')' }
] )
#*doc
    《/stepcode》
《/step》
《/documentationautoflow》
doc*###