#*doc
《documentationautoflow》
《step id=“leftCenterMainTreeEntryPoint”》
    《title》
        Create the root node of main
    《/title》
    《content》
    《/content》
    《stepcode》
doc*###
##
#chanwCreateNode( {
    $TREE_NODE_NAME : "main",
    $TREE_NODE_START_TAG : "<${wrapperElement} ${wrapperIdAttribute} class=""${containerClass}""><div class=""row"">",
    $TREE_NODE_END_TAG : "</div></${wrapperElement}>"
} )

## possible values for $leftClass: col-md-3, col-md-4, etc.
#chanwAddChildren( $chanwObjectNodeMap[ "main" ] [
    { $TREE_NODE_NAME : "topElement",    $TREE_NODE_CODE : '#outputPageElement(''topElement'')' },
    { $TREE_NODE_NAME : "middleElement",
        $TREE_NODE_START_TAG : "<${middleElement} ${middleIdAttribute} class=""${middleCssClass}"">",
        $TREE_NODE_END_TAG   : "</${middleElement}>"
    }
] )
#*doc
    《/stepcode》
《/step》
《/documentationautoflow》
doc*###