#set( $mapping = {
    "create-html"                 : "app/scaffolds/tree_components/html",
    "add-head-children"           : "app/scaffolds/tree_components/head-children",
    "add-body-children"           : "app/scaffolds/tree_components/body-children",
    "add-header-children"         : "app/scaffolds/tree_components/header-children",
    "add-header-row-children"     : "app/scaffolds/tree_components/header-row-children",
    "add-main-children"           : "app/scaffolds/tree_components/main-top-middle",
    "add-middle-element-children" : "app/scaffolds/tree_components/middle-element-children",
    "add-innermain-children"      : "app/scaffolds/tree_components/innermain-children"
} )

#chanwAssembleTree( $mapping )