#*
Defines children of body
*#
#chanwAddChildren( $chanwObjectNodeMap[ "body" ] [
    { $TREE_NODE_NAME : "body-placeholder1" },
    { $TREE_NODE_NAME : "google-noscript" },
    { $TREE_NODE_NAME : "header" },
    { $TREE_NODE_NAME : "siteNav" },
    { $TREE_NODE_NAME : "breadcrumbs" },
    { $TREE_NODE_NAME : "preMain" },
    { $TREE_NODE_NAME : "main" },
    { $TREE_NODE_NAME : "postMain" },
    { $TREE_NODE_NAME : "footer" },
    { $TREE_NODE_NAME : "script" },
    { $TREE_NODE_NAME : "cd-top" },
    { $TREE_NODE_NAME : "body-placeholder2" }
] )