#chanwAddChildren( $chanwObjectNodeMap[ "head" ] [
    { $TREE_NODE_NAME : "meta" }, 
    { $TREE_NODE_NAME : "title" },
    { $TREE_NODE_NAME : "google" },
    { $TREE_NODE_NAME : "link" },
    { $TREE_NODE_NAME : "head-script" },
    { $TREE_NODE_NAME : "head-code" },
    { $TREE_NODE_NAME : "head-placeholder" }
] )