## This format defines the three children in the row of <header>
#chanwAddChildren( $chanwObjectNodeMap[ "header-row" ] [
    { $TREE_NODE_NAME : "logo" },
    { $TREE_NODE_NAME : "site-title" },
    { $TREE_NODE_NAME : "global-nav-button" }
] )