#import( "site://_wing/core/library/velocity/chanw/chanw_library_import" )
#import( "site://_tree/_cascade/formats/setup" )

## page content
#chanwGetFQINodeMap( $currentPage.StructuredData )
#set( $h1 = $chanwGetFQINodeMap[ "main-group;h1" ][ $KEY_DATA ] )
#set( $wysiwyg_content = $chanwGetFQINodeMap[ "main-group;wysiwyg" ][ $KEY_DATA ] )

## macros to create page element
#import( "site://_tree/_cascade/formats/process-page-elements" )
## tree
#import( "site://_tree/_cascade/formats/tree-components/assemble-html" )
## display
#set( $markup = "#chanwDisplayTreeNodeRecursively( $chanwObjectNodeMap[ 'html' ] )" )
##$_EscapeTool.xml( $markup )
$markup