#import( 'app/components/siteNavHtmlShell' )
#macro( generateClassicMenu $currentPageSiteName_generateClassicMenu $options_generateClassicMenu )
    <nav>
        <div class="navbar navbar-default hidden-xs hidden-sm suny-upstate-mega-menu classic-edition" role="navigation">
            <div class="container">
                <div class="collapse navbar-collapse">
                    #drulykgShallowMerge( {
                        'excludeMetadataName': 'exclude-from-menu',
                        'excludeMetadataValue': 'yes',
                        'folderTagAttrs': {
                            'class': 'dropdown-menu'
                        },
                        'maxFolderDepth': 2,
                        'rootChildActiveTagAttrs': {
                            'class': 'dropdown current active'
                        },
                        'rootChildSeparator': '<li class="separator"></li>',
                        'rootChildTagAttrs': {
                            'class': 'dropdown'
                        },
                        'rootFolderTagAttrs': {
                            'class': 'nav navbar-nav navbar-left'
                        },
                        'rootHomePageDisplayName': $siteConfigMap[ 'siteNavHomeString' ],
                        'showRootHomePage': true
                    } $options_generateClassicMenu)
                    #siteNavHtmlShell( $currentPageSiteName_generateClassicMenu $drulykgShallowMerge )
                </div>
            </div>
        </div>
    </nav>
#end