#upstateInitialize
<html lang="en-US">
<!-- step 11: introduce global setup variables defined in chanw_setup_global_variables
these variables, whose names are bound by $design_namespace, define the paths of global
components in each design
-->
<head>
#upstateProcessHead
</head>
<body>
#upstateProcessBodyPart1
#upstateProcessBodyPart2
#upstateProcessBodyPart3
</body>
</html>

#macro( upstateInitialize )
    #set( $core_site_name = "_chan_core" )
    #import( "site://${core_site_name}/formats/library/velocity/chanw_library_import" )
    #set( $master_site_name = "_chan_master" )
    #import( "site://${master_site_name}/formats/${MASTER_SETUP_FORMAT_NAME}" )
    
    #import( "site://${core_site_name}/formats/library/velocity/${MASTER_SETUP_GLOBAL_VARIABLES}" )
#end

#macro( upstateProcessBodyPart1 ) ## before page contents
    #if( $design_namespace == "uco" )
        #import( "site://${master_site_name}/formats/${design_namespace}/pre-page" )
    #elseif( $design_namespace == "rwd3" )
        #chanwReviveGlobalVariable( "GoogleNoscript" $design_namespace )
        #import( $chanwReviveGlobalVariable )
        
        #chanwReviveGlobalVariable( "Header" $design_namespace )
        #import( $chanwReviveGlobalVariable )
    #end
#end

#macro( upstateProcessBodyPart2 ) ## page contents
    <!--#protect<div class="page" id="page">#protect-->
    #if( $design_namespace == "uco" )
        #import( "site://${master_site_name}/formats/${design_namespace}/search" )
        #chanwReviveGlobalVariable( "Header" $design_namespace )
        #import( $chanwReviveGlobalVariable )
    #end
    
    #*===  page content   === *#

    #set( $data = $_XPathTool.selectNodes( $contentRoot, "calling-page/system-page/system-data-structure" )[0] )
    <h1>$_EscapeTool.xml( $_XPathTool.selectNodes( $data, "h1" )[0].Value )</h1>

    #set( $post_wysiwyg_chooser = $_XPathTool.selectNodes( $data, "post-wysiwyg-chooser" )[0] )
    #set( $post_wysiwyg_chooser_content = $post_wysiwyg_chooser.getChild( "content" ) )

    #if( $post_wysiwyg_chooser_content )
        #chanwProcessBlockChooser( $post_wysiwyg_chooser_content )
    #end

    #set( $post_wysiwyg_group_choosers = $_XPathTool.selectNodes( $data, "post-wysiwyg-group/post-wysiwyg-group-chooser" ) )

    #if( $post_wysiwyg_group_choosers.size() > 0 )
        #foreach( $chooser in $post_wysiwyg_group_choosers )
            #set( $post_wysiwyg_group_chooser_content = $chooser.getChild( "content" ) )
        
            #if( $post_wysiwyg_group_chooser_content )
                #chanwProcessBlockChooser( $post_wysiwyg_group_chooser_content )
            #end
        #end
    #end
    #*===  end page content   === *#
#end

#macro( upstateProcessBodyPart3 ) ## after page contents
    #chanwReviveGlobalVariable( "Footer" $design_namespace )
    #import( $chanwReviveGlobalVariable )

    <!--#protect</div>#protect-->
    
    #chanwReviveGlobalVariable( "Script" $design_namespace )
    #import( $chanwReviveGlobalVariable )
#end

#macro( upstateProcessHead )
    #chanwReviveGlobalVariable( "Google" $design_namespace )
    #import( $chanwReviveGlobalVariable )
    #chanwReviveGlobalVariable( "Meta" $design_namespace )
    #import( $chanwReviveGlobalVariable )
    #chanwReviveGlobalVariable( "Title" $design_namespace )
    #import( $chanwReviveGlobalVariable )
    #chanwReviveGlobalVariable( "Link" $design_namespace )
    #import( $chanwReviveGlobalVariable )
#end