<html lang="en-US">
<!-- step 3: import library, select the system-data-structure node,
and use library macros to display all xpaths -->
<head>
#import( 'site://_chan_core/formats/library/velocity/chanw_library_import' )
#import( 'site://_chan_master/formats/uco/google' )
#import( 'site://_chan_master/formats/uco/title' )
#import( 'site://_chan_master/formats/uco/meta' )
#import( 'site://_chan_master/formats/uco/link' )
</head>

<body>
#import( 'site://_chan_master/formats/uco/pre-page' )
<div class="page" id="page">
    #import( 'site://_chan_master/formats/uco/search' )
    #import( 'site://_chan_master/formats/uco/header' )
    
#*===  page content   === *#

#set( $data = $_XPathTool.selectNodes( $contentRoot, "calling-page/system-page/system-data-structure" )[0] )
#chanwProcessSystemDataStructure( $data [ 'wysiwg' ] )
#chanwDisplayMapKeys( $chanwXmlXPathTextMap true )

#*===  end page content   === *#
   
    #import( 'site://_chan_master/formats/uco/footer' )
</div>
#import( 'site://_chan_master/formats/uco/script' )
</body>
</html>