<html lang="en-US">
<!-- step 7: introduce $_EscapeTool, process multiple block choosers -->
<head>
#import( 'site://_chan_core/formats/library/velocity/chanw_library_import' )
#import( 'site://_chan_master/formats/uco/google' )
#import( 'site://_chan_master/formats/uco/title' )
#import( 'site://_chan_master/formats/uco/meta' )
#import( 'site://_chan_master/formats/uco/link' )
</head>

<body>
#import( 'site://_chan_master/formats/uco/pre-page' )
<div class="page" id="page">
    #import( 'site://_chan_master/formats/uco/search' )
    #import( 'site://_chan_master/formats/uco/header' )
    
#*===  page content   === *#

#set( $data = $_XPathTool.selectNodes( $contentRoot, "calling-page/system-page/system-data-structure" )[0] )
##chanwProcessSystemDataStructure( $data [ 'wysiwg' ] )
##chanwDisplayMapKeys( $chanwXmlXPathTextMap true )

#*
pre-h1-chooser
pre-h1-chooser/path
h1
pre-wysiwyg-chooser
pre-wysiwyg-chooser/path
wysiwyg
post-wysiwyg-chooser
post-wysiwyg-chooser/content
post-wysiwyg-chooser/path
post-wysiwyg-chooser/dynamic-metadata
post-wysiwyg-chooser/dynamic-metadata/name
post-wysiwyg-chooser/dynamic-metadata/value
post-wysiwyg-chooser/site
post-wysiwyg-chooser/name
post-wysiwyg-group
post-wysiwyg-group/post-wysiwyg-group-chooser
post-wysiwyg-group/post-wysiwyg-group-chooser/path
layout
layout/layout-top-group
layout/layout-top-group/layout-top
layout/layout-bottom-group
layout/layout-bottom-group/layout-bottom
top-group
top-group/top-group-chooser
top-group/top-group-chooser/path
bottom-group
bottom-group/bottom-group-chooser
bottom-group/bottom-group-chooser/path
admin-group
admin-group/master-level-override
admin-group/master-level-override/path
admin-group/page-level-override
admin-group/page-level-override/path
*#

<h1>$_EscapeTool.xml( $_XPathTool.selectNodes( $data, "h1" )[0].Value )</h1>

#set( $post_wysiwyg_chooser = $_XPathTool.selectNodes( $data, "post-wysiwyg-chooser" )[0] )
#set( $post_wysiwyg_chooser_content = $post_wysiwyg_chooser.getChild( "content" ) )

#if( $post_wysiwyg_chooser_content )
    #chanwProcessBlockChooser( $post_wysiwyg_chooser_content )
#end

#set( $post_wysiwyg_group_choosers = $_XPathTool.selectNodes( $data, "post-wysiwyg-group/post-wysiwyg-group-chooser" ) )

#if( $post_wysiwyg_group_choosers.size() > 0 )
    #foreach( $chooser in $post_wysiwyg_group_choosers )
        #set( $post_wysiwyg_group_chooser_content = $chooser.getChild( "content" ) )
        
        #if( $post_wysiwyg_group_chooser_content )
            #chanwProcessBlockChooser( $post_wysiwyg_group_chooser_content )
        #end
    #end
#end



#*===  end page content   === *#
   
    #import( 'site://_chan_master/formats/uco/footer' )
</div>
#import( 'site://_chan_master/formats/uco/script' )
</body>
</html>