<footer class="footer">
<div class="content-constraint">
<div class="col">
<div class="logo-footer">
<a href="https://www.uco.edu">
<img alt="UCO: University of Central Oklahoma" class="logo-footer" src="//www.uco.edu/uco-theme/_files/images/logo-footer.svg"/>
</a>
</div>
</div>
<div class="col">
<div class="contact">
<h3>Maps &amp; Directions</h3>
<p><a href="https://www.uco.edu/campus-maps/index.php">Main Campus, Edmond, OK</a><br/>
<a href="http://downtown.uco.edu/index.php">UCO Downtown</a></p>
<h3>Contact Us</h3>
<p><strong>University of Central Oklahoma</strong><br/>
100 N. University Dr., Edmond, OK 73034<br/>
<a href="tel:4059742000">405.974.2000</a></p> 
</div>
<div class="social-links">
<a href="https://twitter.com/UCOBronchos"> 
<svg aria-label="Follow us on Twitter" class="icon"><use xlink:href="#social--twitter-free" xmlns:xlink="http://www.w3.org/1999/xlink"/></svg>
<span class="show-for-sr">Twitter</span> 
</a>
<a href="https://www.facebook.com/uco.bronchos/"> 
<svg aria-label="Like us on Facebook" class="icon"><use xlink:href="#social--facebook-free" xmlns:xlink="http://www.w3.org/1999/xlink"/></svg>
<span class="show-for-sr">Facebook</span> 
</a>
<a href="https://www.youtube.com/user/UCOBronchos"> 
<svg aria-label="Subscribe to us on YouTube" class="icon"><use xlink:href="#social--youtube-free" xmlns:xlink="http://www.w3.org/1999/xlink"/></svg>
<span class="show-for-sr">YouTube</span> 
</a>
<a href="https://www.instagram.com/ucobronchos/"> 
<svg aria-label="Follow us on Instagram" class="icon"><use xlink:href="#social--instagram-free" xmlns:xlink="http://www.w3.org/1999/xlink"/></svg>
<span class="show-for-sr">Instagram</span> 
</a>
</div>
</div>
<div class="col">
<div class="nav-footer">
<p><a class="button button-call" href="http://www.centralconnection.org/s/1553/interior.aspx?sid=1553&amp;gid=1&amp;pgid=432">Give Now</a></p>
<p><a class="button button-ghost inverted" href="https://www.uco.edu/alumni.php">Alumni and Friends</a></p>
<p><a class="button button-ghost inverted" href="https://www.uco.edu/site-index/index.php">A-Z Site Index</a></p>
</div>
</div>
</div>
<div class="bottom-nav">
<nav aria-label="Footer Utility Navigation" class="nav nav-utility-footer">
<div class="row">
<div class="column small-14">
<div class="menu-items">
<span class="menu-item first">© Copyright 2017 University of Central Oklahoma</span>
<span class="menu-item"><a href="http://sites.uco.edu/legal_and_policies.asp">Legal and Policies Information</a></span>
<span class="menu-item"><a href="https://www.uco.edu/contact-us.php">Contact Us</a></span>
<span class="menu-item"><a href="https://jobs.uco.edu/">Employment Opportunities</a></span>
<span class="menu-item"><a href="https://www.uco.edu/closing-info/index.php">Closing Information</a></span>
</div>
</div>
</div>
</nav><!--end .nav-->
</div>
</footer>