## this is the header component of the rwd3 design
<header id="header">
#chanwImportScript( "formats/${design_namespace}" $master_site_name "global-menu-search" )

<div class="container" id="logo-site-title-div">
<div class="row">
#chanwImportScript( "formats/rwd3" "_chan_master" "logo"             )
<div class="col-sm-9" id="site-menu-handle-title-div">
#chanwImportScript( "formats/${design_namespace}" $master_site_name "site-menu-handle" )
#chanwImportScript( "formats/${design_namespace}" $master_site_name "site-title" )
</div>
</div>
</div>
<div id="site-title-menu-background"></div>
</header>