#set( $rwd3 = [ "_chan_master" ] )
#set( $uco  = [] )

#if( $uco.contains( $currentPageSiteName ) )
    #set( $design_namespace = "uco" )
#else
    #set( $design_namespace = "rwd3" ) ## the default design
#end   

#set( $masterSiteDesignPath = "site://${master_site_name}/formats/${design_namespace}/" )