## mapping top-level folder names onto design names
## note that the site still needs to be assigned a design names
## for top-level pages
#set( $siteConfigMap[ 'subsiteDesign' ] = {
    'radio' : 'ipmradio',
    'tv'    : 'ipmtv'
} )
#set( $pathArray      = $currentPage.Identifier.Path.PathSegments )

#foreach( $key in $siteConfigMap[ 'subsiteDesign' ].keySet() )
    #if( $pathArray[ 0 ].equals( $key ) )
        #set( $design_namespace = $siteConfigMap[ 'subsiteDesign' ][ $key ] )
        #break
    #end
#end