## this format retrieves two data definitions, using library code
#import( "site://standard-model/_cascade/tutorial/library-code" )

#chanwRetrieveDataDefinition( $_.locateBlock( "core/base-assets/block-multimedia", "_brisk" ) )
##$chanwRetrieveDataDefinition.Xml

#chanwRetrieveDataDefinition( $_.locatePage( "index", "standard-model" ) )
##$chanwRetrieveDataDefinition.Xml