#*
《code》
《copyright》
Authors: Wing Ming Chan
Copyright (c) 2017 Wing Ming Chan <chanw@upstate.edu>
MIT Licensed
Modification history:
《/copyright》
《documentation id=“top”》
《h2》Introduction《/h2》
《p》This format defines two lists, containing items for code generation.《/p》
《/documentation》
*#
## These are single-group blocks, put block type info here, and do not use '-group' in type info.
## The group identifier should be {type-info}-group.
#set( $single_group_names = [ "row", "wysiwyg" ] )

## These are multi-group blocks, and put the required dispatch macro names here.
#set( $multi_macro_names = [ "processDesignerProBlock", "processMegablock", "processMultimedia", "processNewsBlock" ] )
#*
《documentation id=“bottom”》
《/documentation》
《/code》
*#