#macro( processRowGroup $groupToBeProcessed )
    #if( $groupToBeProcessed.name != 'row-group' )
        Not a Row group
        #stop
    #end
    
    #set( $MEDIA_SIZE            = "sm" )
    #set( $OPTION_CENTERD_HEADER = "centered header" )
    #set( $OPTION_FULL_WIDTH     = "full width" )
    #set( $OPTION_EVEN_COLUMN    = "even column" )
    #set( $OPTION_PADDING        = "padding" )
    #set( $OPTION_MARGIN         = "margin" )
    #set( $OPTION_BOTTOM_SPACING = "bottom spacing" )
    #set( $OPTION_BOTTOM_HR      = "bottom hr" )

    #set( $col_class    = $groupToBeProcessed.getChild( "col-class" ).Value )
    #set( $background_classes  = $groupToBeProcessed.getChild( "background-classes" ).Value )
    #set( $row_header = $groupToBeProcessed.getChild( "row-header" ).Value )
    #set( $options_list = [] )
    #set( $options = $groupToBeProcessed.getChild( "options" ) )
    #set( $options_values = $options.getChildren( "value" ) )
    
    #if( $options_values )
        #foreach( $value in $options_values )
            #set( $dummy = $options_list.add( $value.Value ) )
        #end
    #end
    
    #if( $row_header && $row_header.trim() != "" )
        #if( $options_list.contains( $OPTION_CENTERD_HEADER ) )
            #chanwReviveGlobalVariable( "RowCenterHeaderClasses" $design_namespace )
        #else
            #chanwReviveGlobalVariable( "RowDefaultHeaderClasses" $design_namespace )
        #end

        #set( $header_str = "<div class='${chanwReviveGlobalVariable}'><div class='col-${MEDIA_SIZE}-12'><h2>$row_header</h2></div></div>" )
    #else
        #set( $header_str = '' )
    #end

    #set( $block_choosers = $_XPathTool.selectNodes( $groupToBeProcessed, "row-block-chooser/content" ) )
    
    #if( $block_choosers.size() > 0 )
        #if( $options_list.contains( $OPTION_MARGIN ) )
            #set( $margin_style = " style='padding-bottom:30px'" )
        #else
            #set( $margin_style = "" )
        #end
        <div class="${background_classes}"${margin_style}>

        #if( !$options_list.contains( $OPTION_FULL_WIDTH ) )<div class="container nopadding">
        #else<div class="container-fluid nopadding">#end
$header_str

#if( $col_class != "none" ) ## being an inner block
<div class="col-${MEDIA_SIZE}-${col_class}">##3
#else<div class="col-${MEDIA_SIZE}-12 nopadding">
#end

<div class="row nopadding">## 2
        #if( $options_list.contains( $OPTION_EVEN_COLUMN ) )
            #if( $block_choosers.size() > 0 && $block_choosers.size() < 7 && $block_choosers.size() != 5 )
                #set( $col_width = 12 / $block_choosers.size() )
                
                #if( $options_list.contains( $OPTION_PADDING ) )
                    #set( $div_class = "col-${MEDIA_SIZE}-${col_width}" )
                #else
                    #set( $div_class = "col-${MEDIA_SIZE}-${col_width} nopadding" )
                #end
            #else
                #set( $div_class = "" )
            #end
        #else
            #set( $div_class = "" )
        #end

        #foreach( $block_chooser in $block_choosers )
            #if( $options_list.contains( $OPTION_EVEN_COLUMN ) )
                #if( $div_class == "" )
                    #chanwProcessBlockChooser( $block_chooser )
                #else
<div class="${div_class}">#chanwProcessBlockChooser( $block_chooser )</div>
                #end
            #else
                #chanwProcessBlockChooser( $block_chooser )
            #end
        #end
</div>##2
</div>##3
</div>
</div>
    #end
    #if( $options_list.contains( $OPTION_BOTTOM_SPACING ) )
<div class="pad9"></div>
    #end
    
    #if( $options_list.contains( $OPTION_BOTTOM_HR ) )
<hr />
<div class="pad9"></div>
    #end
#end

#macro( processWysiwygGroup $groupToBeProcessed )
    #if( $groupToBeProcessed.name != 'wysiwyg-group' )
        Not a WYSIWYG group
        #stop
    #end
    
    #chanwReviveGlobalVariable( "RenderWysiwygBlock" $design_namespace )
    
    #if( $chanwReviveGlobalVariable )
        $_SerializerTool.serialize( $groupToBeProcessed.getChild( 'wysiwyg-content' ), true )
    #end
#end