#set( $siteConfigMap = {} )
#set( $siteConfigMap[ "htmlAttributes" ]     = "lang=""en-US""" )
#set( $siteConfigMap[ "bodyAttributes" ]     = "class=""upstate-dark-blue""" )
#set( $siteConfigMap[ "wrapperElement" ]     = "main" )
#set( $siteConfigMap[ "wrapperIdAttribute" ] = "id=""main-div-wrapper""" )
#set( $siteConfigMap[ "containerClass" ]     = "container bg-white" )
#set( $siteConfigMap[ "middleElement" ]      = "div" )
#set( $siteConfigMap[ "middleIdAttribute" ]  = "id=""page-content-div""" )
#set( $siteConfigMap[ "middleCssClass" ]     = "col-md-9" )
