#set( $mapping = {
    "create-html"                 : "site://_brisk/app/scaffolds/tree-components/html",
    "add-head-children"           : "site://_brisk/app/scaffolds/tree-components/head-children",
    "add-body-children"           : "site://_brisk/app/scaffolds/tree-components/body-children",
    "add-header-children"         : "site://_brisk/app/scaffolds/tree-components/header-children",
    "add-header-row-children"     : "site://_brisk/app/scaffolds/tree-components/header-row-children",
    "add-main-children"           : "site://_brisk/app/scaffolds/tree-components/main-top-middle",
    "add-middle-element-children" : "site://_brisk/app/scaffolds/tree-components/middle-element-children",
    "add-innermain-children"      : "site://_brisk/app/scaffolds/tree-components/innermain-children"
} )

#chanwAssembleTree( $mapping )