#import( "site://_brisk/core/library/velocity/chanw/chanw-global-queue" )

#chanwProcessStructuredDataNodes( $_.locateBlock( "setup", "web-services" ) )
##chanwProcessStructuredDataNodes( $_.locatePage( "index", "web-services" ) )

#macro( chanwProcessStructuredDataNodes $page_block )
    #set( $sdns = $page_block.StructuredData )
    ## top-level nodes
    #foreach( $node in $sdns )
        #chanwEnqueueGlobalQueue( $chanwGlobalQueue $node )
    #end
##
    ## while the queue is not empty
    #foreach( $num in [ 1..5000 ] )
        ## get a $_XPathTool.selectSingleNode($collection, "")
        #chanwDequeueGlobalQueue( $chanwGlobalQueue )
##
        #if( $chanwDequeueGlobalQueue.isGroup() )
            A group node: $chanwDequeueGlobalQueue.Identifier
            ## enqueue child nodes
            #foreach( $child in $chanwDequeueGlobalQueue.Children )
                #chanwEnqueueGlobalQueue( $chanwGlobalQueue $child )
            #end
        #elseif( $chanwDequeueGlobalQueue.isText() )
            A text node: [$_DisplayTool.list( $chanwDequeueGlobalQueue.TextValues, "," )]
        #elseif( $chanwDequeueGlobalQueue.Asset.Class.Name )
            An asset node: $chanwDequeueGlobalQueue.Asset.Name
        #end
##
        ## get out when the queue is empty
        #chanwSizeGlobalQueue( $chanwGlobalQueue )
        #if( $chanwSizeGlobalQueue == 0 )
            #break
        #end
    #end
#end